.banner {
  .banner-bg {
    width: 100%;
  }

  .container {
    margin: 0 auto;
    overflow: hidden;
    height: 100%;

    .banner-area {
      background-image: url("../../../images/banner.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 1000px;

      &__content {
        padding: 250px 0 0 20%;

        .primary {
          font-family: 'roboto';
          font-style: normal;
          font-weight: 600;
          font-size: 23px;
          line-height: 28px;
          /* identical to box height */
          margin-bottom: 7px;

          color: #000000;
        }

        h1 {
          text-transform: capitalize;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 49px;
          /* or 136% */
          width: 450px;
          margin-bottom: 31px;
          color: #1F3D7D;
        }

        &-group {
          display: flex;

          .apply-now {
            margin-right: 40px;
            border: none;
            padding: 25px 0 25px 57px;
            background: #1F3D7D;
            box-shadow: 0px 2px 2px #D91C23;
            cursor: pointer;

            a {
              text-decoration: none;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 28px;
              color: #FFFFFF;

              span {
                padding: 26px 20px;
                background: #041D51;
                color: #FFFFFF;
                margin-left: 40px;
              }
            }
          }

          .apply-now:hover {
            background: #BC1C20;
            box-shadow: 0px 2px 2px #1A417E;

            a {
              span {
                background: #8E070A;
              }
            }
          }

          &-support {
            .recruitment-support {
              font-family: "Roboto";
              font-style: italic;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              margin-left: 4px;
              color: #474747;
            }

            .logo-itnavi {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 359px) {
  .banner {
    .banner-bg {
      width: 345%;
      margin-left: -388px;
      height: 601px;
    }

    .container {
      max-width: 1920px;
      margin: 0 auto;
      overflow: hidden;
      height: 600px;

      .banner-area {
        padding: 0 20px;
        background-image: url("../../../images/banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 555px;

        &__content {
          padding: 105px 0 0 5%;

          .primary {
            font-family: 'Roboto';
            width: 90%;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            margin-bottom: 6px;

            color: #000000;
          }

          h1 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            /* or 136% */
            width: 90%;
            margin-bottom: 20px;
            color: #1F3D7D;
          }

          &-group {
            display: flex;

            .apply-now {
              display: none;
              margin-right: 40px;
              border: none;
              padding: 25px 0 25px 57px;
              background: #1F3D7D;
              box-shadow: 0px 2px 2px #D91C23;
              cursor: pointer;

              a {
                text-decoration: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #FFFFFF;

                span {
                  padding: 24px 20px;
                  background: #041D51;
                  color: #FFFFFF;
                  margin-left: 40px;
                }
              }
            }

            &-support {
              p {
                font-family: 'Roboto';
                font-style: italic;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                /* identical to box height */
                margin-left: 4px;

                color: #474747;
              }

              img {
                width: 70%;
                height: 70%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 359px) and (max-width: 767px) {
  .banner {
    .banner-bg {
      height: 100%;
    }

    .container {
      .banner-area {
        height: 835px;

        &__content {
          padding: 170px 0 0 30px;

          .primary {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 6px;
          }

          h1 {
            font-size: 24px;
            line-height: 29px;
            width: 90%;
            margin-bottom: 20px;
          }

          &-group {
            .apply-now {
              display: none;
              margin-right: 40px;
              border: none;
              padding: 25px 0 25px 57px;
              background: #1F3D7D;
              box-shadow: 0px 2px 2px #D91C23;
              cursor: pointer;

              a {
                text-decoration: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #FFFFFF;

                span {
                  padding: 24px 20px;
                  background: #041D51;
                  color: #FFFFFF;
                  margin-left: 40px;
                }
              }
            }

            &-support {
              .logo-itnavi {
                width: 150px;
                height: 65px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner {
    .banner-bg {
      width: 100%;
    }

    .container {
      max-width: 1920px;
      margin: 0 auto;
      overflow: hidden;

      .banner-area {
        background-image: url("../../../images/banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 666px;

        &__content {
          padding: 215px 0 0 170px;

          .primary {
            font-family: 'Roboto';
            width: 90%;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            margin-bottom: 6px;

            color: #000000;
          }

          h1 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            /* or 136% */
            width: 340px;
            margin-bottom: 20px;
            color: #1F3D7D;
          }

          &-group {
            display: flex;

            .apply-now {
              display: block;
              margin-right: 30px;
              border: none;
              padding: 20px 0 20px 35px;
              background: #1F3D7D;
              box-shadow: 0px 2px 2px #D91C23;
              cursor: pointer;

              .apply {
                font-size: 22px;

                .arrow-right {
                  padding: 27px 20px;
                  margin-left: 25px;
                }
              }
            }

            &-support {
              padding-top: 10px;

              .recruitment-support {
                font-size: 14px;
              }

              .logo-itnavi {
                width: 130px;
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1921px) and (max-width: 6144px) {
    .container {
      max-width: 1920px;
  }
}