header {
  background-color: #0A4595;

  .container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    padding: 0 20%;

    &__brand {
      margin-right: 95px;

      img {
        width: 155px;
        height: 77px;
      }
    }

    &__menu {
      ul {
        line-height: 80px;
        display: flex;

        li {
          list-style-type: none;
          margin-right: 20px;

          a {
            text-decoration: none;
            font-family: 'roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
            color: #FFFFFF;
            text-transform: uppercase;
          }
        }
      }
    }

    &__toggle {
      display: none;
      border: none;
      background-color: #FFF;

      .icon-bar {
        width: 35px;
        height: 3px;
        background-color: red;
        display: block;
        transition: all 0.3s ease-out;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: #ffffff;
        font-style: normal;
        text-align: left;
        margin-bottom: 5px;
      }
    }
  }
}
@media screen and (min-width: 1px) and (max-width: 359px) {
  header {
    .container {
      justify-content: space-between;
      padding: 0 5%;
      background-color: #0A4595;
      position: fixed;
      width: 90%;
      &__brand {
        margin-right: 0;

        img {
          width: 100px;
          height: 60px;
        }
      }

      &__menu {
        width: 90%;
        display: none;
        background-color: #0A4595;
        text-align: center;
        position:fixed;
        top: 60px;
        z-index: 99;
        .navbar-nav {
          line-height: 0;
          display: block;
          padding: 20px 35px;

          .nav-item {
            margin-right: 0;
            padding: 10px 0;
            border-bottom: 1px solid #f1f0f0;
            .nav-link {
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;

            }
          }
          .nav-item:last-child{
            border:none;
          }
        }
      }

      &__toggle {
        display: block;
        border: none;
        background-color: #0A4595;

        .icon-bar {
          width: 23px;
          height: 1.5px;
          background-color: #FFFFFF;
        }
      }
    }
  }
}
@media screen and (min-width: 359px) and (max-width: 767px) {
  header {
  max-width: 767px;
  margin: 0 auto;
    .container {
      justify-content: space-between;
      padding: 0 30px;
      background-color: #0A4595;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 999;
      &__brand {
        margin-right: 0;

        img {
          width: 100px;
          height: 60px;
        }
      }

      &__menu {
        display: none;
        background-color: #0A4595;
        text-align: center;
        position:fixed;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 999;
        .navbar-nav {
          line-height: 0;
          display: block;
          padding: 20px 35px;

          .nav-item {
            margin-right: 0;
            padding: 10px 0;
            border-bottom: 1px solid #f1f0f0;
            .nav-link {
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;

            }
          }
          .nav-item:last-child{
            border:none;
          }
        }
      }

      &__toggle {
        display: block;
        border: none;
        background-color: #0A4595;

        .icon-bar {
          width: 23px;
          height: 1.5px;
          background-color: #FFFFFF;
        }
      }
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  header {
    .container {
      padding: 0 20px;
      display: flex;
      background-color: #0A4595;
      position: fixed;
      left: 0;
      right: 0;
      align-items: center;
      justify-content: space-between;
      z-index: 999;
      &__brand {
        width: 100%;
        margin-right: 0;
        text-align: center;
        img {
          width: 120px;
          height: 68px;
        }
      }

      &__menu {
        display: none;
        position: fixed;
        top: 73px;
        right: 0;
        left: 0;
        background-color: #fff;
        z-index: 99;
        ul{
          display: block;
          line-height: 0;
          li{
            margin-right: 0;
            padding: 10px 20px;
            border-bottom: 1px solid #dbeefd;
            a{
              font-size: 14px;
              color: #000;
              font-weight: 500;
            }
          }
        }
      }

      &__toggle {
        display: block;
        border: none;
        background-color: #0A4595;

        .icon-bar {
          width: 23px;
          height: 1.5px;
          background-color: #FFFFFF;
          display: block;
        }

        span {
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
          color: #ffffff;
          font-style: normal;
          text-align: left;
          margin-bottom: 5px;
        }
      }
    }
  }
}
@media screen and (min-width: 1921px) and (max-width: 6144px) {
  header {
    max-width: 1920px;
    margin: 0 auto;
  }
}