.introduce {
  .container {
    max-width: 1920px;
    margin: 0 auto;

    .introduce-area {
      display: flex;
      margin-bottom: 115px;

      &__single:nth-child(1) {
        img {
          display: none;
          width: 775px;
          height: 100%;
        }
      }

      &__single:nth-child(2) {
        background: #0057A8;
        box-shadow: 4px 0px 10px rgba(52, 52, 52, 0.15);

        .introduce-area__single-header {
          padding: 57px 0 0 103px;
          margin-bottom: 67px;

          h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-bottom: 4px;
          }

          h6 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */


            color: #FFFFFF;
          }
        }

        .introduce-area__single-content {
          padding-left: 82px;
          padding-right: 64.72px;
          margin-bottom: 51px;
          display: flex;

          span {
            color: #FFFFFF;
            margin-right: 14px;
          }

          p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */


            color: #FFFFFF;
          }
        }
      }

      &__single:nth-child(3) {
        background-color: #B11B1F;
        text-align: center;

        h1 {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          letter-spacing: 0.05em;
          margin-top: 85%;
          color: #FFFFFF;
        }

        img {

        }
      }
    }

    .introduce-area-dot {
      position: relative;
      bottom: 180px;
      margin-left: 12%;

      .dot-left {
        width: 41px;
        height: 41px;
        margin: 0 2px;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        border: 0.5px solid #DEDEDE;
        cursor: pointer;

        span {
          font-size: 25px;
          font-weight: bolder;
          top: 7px;
          position: relative;
          left: 11px;
        }
      }

      .dot-right {
        cursor: pointer;
        width: 41px;
        height: 41px;
        margin: 0 2px;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        background: #FFFFFF;
        border: 0.5px solid #DEDEDE;

        span {
          font-size: 25px;
          font-weight: bolder;
          top: 7px;
          position: relative;
          left: 11px;
        }
      }

      .dot-child {
        position: relative;
        top: 8px;
        padding: 10px;
        margin: 0 7px;
        background-color: #82C2FE;
        border-radius: 50%;
        display: inline-block;
      }

      .active {
        background-color: #0057A8;
      }
    }
  }
}
@media screen and (min-width: 1px) and (max-width: 259px) {
  .introduce {
    .container {

      .introduce-area {
        display: block;
        margin-bottom: 75px;

        &__single:nth-child(1) {
          img {
            width: 100%;
            height: 277px;
          }
        }

        &__single:nth-child(2) {
          padding-bottom: 20px;

          .introduce-area__single-header {
            margin-bottom: 35px;
            padding: 40px 20px 0 20px;

            h2 {
              font-size: 20px;
            }

            h6 {
              font-size: 12px;
            }
          }

          .introduce-area__single-content {
            margin-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;

            span {
              font-size: 13px;
            }

            p {
              font-size: 13px;
            }
          }
        }

        &__single:nth-child(3) {
          padding: 20px;

          h1 {
            margin-top: 0;
            font-size: 28px;
          }

          img {
            width: 90%;
          }
        }
      }

      .introduce-area-dot {

        bottom: 1072px;
        margin-left: 18%;

        .dot-left {
          width: 25px;
          height: 25px;

          span {
            font-size: 15px;
            top: 2px;
            left: 7px;
          }
        }

        .dot-right {
          width: 25px;
          height: 25px;

          span {
            font-size: 15px;
            top: 2px;
            left: 7px;
          }
        }

        .dot-child {
          top: 6px;
          padding: 7px;
        }
      }
    }
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .introduce {
    .container {

      .introduce-area {
        display: block;
        margin-bottom: 75px;

        &__single:nth-child(1) {
          img {
            width: 100%;
            height: 277px;
          }
        }

        &__single:nth-child(2) {
          padding-bottom: 20px;

          .introduce-area__single-header {
            margin-bottom: 35px;
            padding: 40px 20px 0 20px;

            h2 {
              font-size: 20px;
            }

            h6 {
              font-size: 12px;
            }
          }

          .introduce-area__single-content {
            margin-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;

            span {
              font-size: 13px;
            }

            p {
              font-size: 13px;
            }
          }
        }

        &__single:nth-child(3) {
          padding: 20px;

          h1 {
            margin-top: 0;
            font-size: 28px;
          }

          img {
          }
        }
      }

      .introduce-area-dot {
        position: absolute;
        top: 515%;
        bottom: 0;
        margin-left: 0;
        left: 30%;
        .dot-left {
          width: 25px;
          height: 25px;

          span {
            font-size: 15px;
            top: 2px;
            left: 7px;
          }
        }

        .dot-right {
          width: 25px;
          height: 25px;

          span {
            font-size: 15px;
            top: 2px;
            left: 7px;
          }
        }

        .dot-child {
          top: 6px;
          padding: 7px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .introduce {
    .container {

      .introduce-area {
        display: block;
        margin-bottom: 75px;

        &__single:nth-child(1) {
          img {
            width: 100%;
            height: 277px;
          }
        }

        &__single:nth-child(2) {
          padding-bottom: 20px;

          .introduce-area__single-header {
            margin-bottom: 35px;
            padding: 40px 20px 0 5%;

            h2 {
              font-size: 20px;
            }

            h6 {
              font-size: 12px;
            }
          }

          .introduce-area__single-content {
            margin-bottom: 30px;
            padding-left: 5%;
            padding-right: 20px;

            span {
              font-size: 13px;
            }

            p {
              font-size: 13px;
            }
          }
        }

        &__single:nth-child(3) {
          padding: 20px;

          h1 {
            margin-top: 0;
            font-size: 28px;
          }

          img {
          }
        }
      }

      .introduce-area-dot {
        position: absolute;
        top: 385%;
        bottom: 0;
        margin-left: 0;
        left: 38%;
        .dot-left {
          width: 25px;
          height: 25px;

          span {
            font-size: 15px;
            top: 2px;
            left: 7px;
          }
        }

        .dot-right {
          width: 25px;
          height: 25px;

          span {
            font-size: 15px;
            top: 2px;
            left: 7px;
          }
        }

        .dot-child {
          top: 6px;
          padding: 7px;
        }
      }
    }
  }
}
