.overview {
  margin-bottom: 55px;

  .container {
    max-width: 1920px;
    margin: 0 auto;

    .overview-area {
      padding: 0 20%;
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      margin-top: -3%;
      grid-gap: 9px;

      &__married:nth-child(1) {
        .overview-area__married-single:first-child {
          height: 400px;
          margin-bottom: 9px;

          .overview-area__married-single-child {
            p {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              /* or 150% */
              padding: 41px 36px 60px 0;
              text-align: justify;
              color: #FFFFFF;
            }

            img {
              margin-bottom: 24px;
            }
          }
        }

        .overview-area__married-single:last-child {
          height: 290px;
          .overview-area__married-single-child {
            p {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              /* or 150% */
              padding: 41px 36px 15px 0;
              text-align: justify;
              color: #FFFFFF;
            }

            img {
            }
          }
        }
      }

      &__married:nth-child(2) {
        background-image: url("../../../images/images5.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .overview-area__married-single {
          position: relative;
          top: 72%;
          background: none;
          display: block;
          padding: 0 42px 0 19px;

          p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 40px;
            /* or 222% */

            text-align: justify;
            text-transform: uppercase;

            color: #FFFFFF;
          }

          h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            /* or 125% */

            text-align: justify;
            text-transform: uppercase;

            color: #FFFFFF;
          }
        }
      }

      &__married:nth-child(3) {
        .overview-area__married-single:first-child {
          height: 290px;
          margin-bottom: 9px;

          .overview-area__married-single-child {
            p {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              /* or 150% */
              padding: 41px 36px 25px 0;
              text-align: justify;
              color: #FFFFFF;
            }

            img {

            }
          }
        }

        .overview-area__married-single:last-child {
          height: 400px;
          .overview-area__married-single-child {
            p {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              /* or 150% */
              padding: 41px 36px 30px 0;
              text-align: justify;
              color: #FFFFFF;
            }

            img {
            }
          }
        }
      }

      &__married {
        &-single {
          overflow: hidden;
          display: flex;
          background-color: #0A4595;

          h1 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 80px;
            line-height: 94px;
            /* identical to box height */
            padding: 24px 20px 0 35px;
            color: #FDC80A;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1px) and (max-width: 359px) {
  .overview {
    margin-bottom: 0;

    .container {
      .overview-area {
        padding: 0 0;
        display: block;
        margin-top: 0;

        &__married:nth-child(1) {
          .overview-area__married-single:first-child {
            height: 200px;
            margin-bottom: 0;

            .overview-area__married-single-child {
              p {
                padding: 18px 20px 0 25px;
              }

              img {
                left: 145px;
                bottom: 200px;
                position: relative;
              }
            }
          }

          .overview-area__married-single:last-child {
            .overview-area__married-single-child {
              height: 130px;
              margin-bottom: 0;

              p {
                padding: 75px 20px 0 25px;
              }

              img {
                left: 111px;
                bottom: 205px;
                position: relative;
              }
            }
          }
        }

        &__married:nth-child(2) {
          .overview-area__married-single {
            height: 614px;
            padding: 0 15px 0 15px;
            top: 445px;

            p {
            }

            h2 {
            }
          }
        }

        &__married:nth-child(3) {
          .overview-area__married-single:first-child {
            height: 210px;
            margin-bottom: 0;

            .overview-area__married-single-child {
              p {
                padding: 18px 20px 0 25px;
              }

              img {
                left: 155px;
                bottom: 200px;
                position: relative;
              }
            }
          }

          .overview-area__married-single:last-child {
            .overview-area__married-single-child {
              height: 200px;
              margin-bottom: 0;

              p {
                padding: 75px 20px 0 25px;
              }

              img {
                left: 145px;
                bottom: 270px;
                position: relative;
              }
            }
          }
        }

        &__married {
          &-single {
            display: block;
            margin-bottom: 0;

            h1 {
              margin-top: -1px;
              font-size: 60px;
              padding: 18px 20px 0 25px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .overview {
    margin-bottom: 0;

    .container {
      .overview-area {
        padding: 0 0;
        display: block;
        margin-top: 0;

        &__married:nth-child(1) {
          .overview-area__married-single:first-child {
            height: 200px;
            margin-bottom: 0;

            .overview-area__married-single-child {
              p {
                padding: 18px 20px 0 25px;
              }

              img {
                left: 145px;
                bottom: 130px;
                position: relative;
              }
            }
          }

          .overview-area__married-single:last-child {
            .overview-area__married-single-child {
              height: 130px;
              margin-bottom: 0;

              p {
                padding: 75px 20px 0 25px;
              }

              img {
                left: 111px;
                bottom: 205px;
                position: relative;
              }
            }
          }
        }

        &__married:nth-child(2) {
          .overview-area__married-single {
            height: 614px;
            padding: 0 15px 0 15px;
            top: 445px;

            p {
            }

            h2 {
            }
          }
        }

        &__married:nth-child(3) {
          .overview-area__married-single:first-child {
            height: 210px;
            margin-bottom: 0;

            .overview-area__married-single-child {
              p {
                padding: 18px 20px 0 25px;
              }

              img {
                left: 155px;
                bottom: 150px;
                position: relative;
              }
            }
          }

          .overview-area__married-single:last-child {
            height: 275px;
            .overview-area__married-single-child {
              height: 200px;
              margin-bottom: 0;

              p {
                padding: 75px 20px 0 25px;
              }

              img {
                left: 145px;
                bottom: 217px;
                position: relative;
              }
            }
          }
        }

        &__married {
          &-single {
            display: block;
            margin-bottom: 0;

            h1 {
              margin-top: -1px;
              font-size: 60px;
              padding: 18px 20px 0 25px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .overview {
    margin-bottom: 55px;

    .container {
      margin: 0 auto;

      .overview-area {
        padding: 0 5%;
        display: block;
        margin-top: 5%;

        &__married:nth-child(1) {
          display: grid;
          grid-template-columns: 50% 50%;
          .overview-area__married-single:first-child {
            height: 290px;
            margin-bottom: 9px;

            .overview-area__married-single-child {
              p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                padding: 41px 36px 38px 0;
                text-align: justify;
                color: #FFFFFF;
              }

              img {
                margin-bottom: 24px;
              }
            }
          }

          .overview-area__married-single:last-child {
            height: 290px;
            .overview-area__married-single-child {
              p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                padding: 41px 36px 15px 0;
                text-align: justify;
                color: #FFFFFF;
              }

              img {
              }
            }
          }
        }

        &__married:nth-child(2) {
          background-image: url("../../../images/images5.png");
          background-repeat: no-repeat;
          background-size: 100% 505%;
          margin-bottom: 9px;
          .overview-area__married-single {
            position: relative;
            top: 72%;
            background: none;
            display: block;
            padding: 0 42px 0 19px;

            p {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 40px;
              /* or 222% */

              text-align: justify;
              text-transform: uppercase;

              color: #FFFFFF;
            }

            h2 {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 32px;
              line-height: 40px;
              /* or 125% */

              text-align: justify;
              text-transform: uppercase;

              color: #FFFFFF;
            }
          }
        }

        &__married:nth-child(3) {
          display: grid;
          grid-template-columns: 50% 50%;
          .overview-area__married-single:first-child {
            height: 360px;
            margin-bottom: 9px;

            .overview-area__married-single-child {
              p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                padding: 41px 36px 55px 0;
                text-align: justify;
                color: #FFFFFF;
              }

              img {

              }
            }
          }

          .overview-area__married-single:last-child {
            height: 360px;
            .overview-area__married-single-child {
              p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                padding: 41px 36px 15px 0;
                text-align: justify;
                color: #FFFFFF;
              }

              img {
              }
            }
          }
        }

        &__married {
          &-single {
            overflow: hidden;
            display: flex;
            background-color: #0A4595;

            h1 {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 300;
              font-size: 80px;
              line-height: 94px;
              /* identical to box height */
              padding: 24px 20px 0 35px;
              color: #FDC80A;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .overview {
    margin-bottom: 55px;

    .container {
      max-width: 1920px;
      margin: 0 auto;

      .overview-area {
        padding: 0 20%;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        margin-top: -3%;
        grid-gap: 9px;

        &__married:nth-child(1) {
          .overview-area__married-single:first-child {
            height: 400px;
            margin-bottom: 9px;

            .overview-area__married-single-child {
              p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                padding: 41px 36px 60px 0;
                text-align: justify;
                color: #FFFFFF;
              }

              img {
                margin-bottom: 24px;
              }
            }
          }

          .overview-area__married-single:last-child {
            height: 290px;
            .overview-area__married-single-child {
              p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                padding: 41px 36px 15px 0;
                text-align: justify;
                color: #FFFFFF;
              }

              img {
              }
            }
          }
        }

        &__married:nth-child(2) {
          background-image: url("../../../images/images5.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;

          .overview-area__married-single {
            position: relative;
            top: 72%;
            background: none;
            display: block;
            padding: 0 42px 0 19px;

            p {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 40px;
              /* or 222% */

              text-align: justify;
              text-transform: uppercase;

              color: #FFFFFF;
            }

            h2 {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 32px;
              line-height: 40px;
              /* or 125% */

              text-align: justify;
              text-transform: uppercase;

              color: #FFFFFF;
            }
          }
        }

        &__married:nth-child(3) {
          .overview-area__married-single:first-child {
            height: 290px;
            margin-bottom: 9px;

            .overview-area__married-single-child {
              p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                padding: 41px 36px 25px 0;
                text-align: justify;
                color: #FFFFFF;
              }

              img {

              }
            }
          }

          .overview-area__married-single:last-child {
            height: 400px;
            .overview-area__married-single-child {
              p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* or 150% */
                padding: 41px 36px 30px 0;
                text-align: justify;
                color: #FFFFFF;
              }

              img {
              }
            }
          }
        }

        &__married {
          &-single {
            overflow: hidden;
            display: flex;
            background-color: #0A4595;

            h1 {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 300;
              font-size: 80px;
              line-height: 94px;
              /* identical to box height */
              padding: 24px 20px 0 35px;
              color: #FDC80A;
            }
          }
        }
      }
    }
  }
}